body{
    margin: 0;
    padding: 0;
    background: #111;
    color: white;
    text-align: center;
}
.center-screen{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
button{
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    background: #00ffcc;
    color: #000;
}
.box{
    margin: 20px auto;
    width: 80%;
    max-width: 300px;
    height: 100px;
    border: 3px solid #00ffcc;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 15px;
    background: #222;
    box-shadow:  0 0 10px #00ffcc;
}
.spinBtn{
    background: #00ffcc;
    color: #000;
}
.disabled{
    background: #555 !important;
    cursor: not-allowed;
}

@media screen and (max-width:500px){
    h1,h2{
       
        padding: 0 10px;
    }
.box{
    height: 80px;
    
}
button{
    padding: 12px 24px;
}

}